#data-entry-form {
	margin-top: 1em;
	.labeled-input {
		flex: 1;
		display: flex;
		flex-direction: column;
		&:not(:first-child) {
			margin-left: 1em;
		}
		.input-label {
			font-size: 0.8em;
			margin-bottom: 0.2em;
		}
		select,
		input[type='text'] {
			height: 2.5em;
		}
	}
}
